﻿@model Nistagram.Agents.Models.Promotion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Promotion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.End)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.End)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MinAge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MinAge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxAge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxAge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TargetUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TargetUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AgentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AgentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Send" asp-route-id="@Model.Id">Send to Nistagram</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<input value="@ViewData["json"]"  readonly/>
