﻿@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model Nistagram.Agents.Models.Item

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <img src="@Html.DisplayFor(model => model.WebImageUri)" style="max-height: 200px;max-width: 200px" />
    </dl>
</div>
<div>
    @if (SignInManager.IsSignedIn(User))
    {
        @if ((await AuthorizationService.AuthorizeAsync(User, null, "AgentPolicy")).Succeeded)
        {
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
            <a asp-controller="Promotions" asp-action="Create" asp-route-id="@Model.Id">Create promotion</a>
            <a asp-action="Index"> Back to List</a>
        }
        else if ((await AuthorizationService.AuthorizeAsync(User, null, "BuyerPolicy")).Succeeded)
        {
            <a asp-action="AddToCart" asp-route-id="@Model.Id">Add to cart</a>
            <a asp-action="Shop"> Back to List</a>
        }
    }
</div>
