﻿@model IEnumerable<Nistagram.Agents.Models.Item>

@{
    ViewData["Title"] = "Shop";
}

<h1>ViewCart</h1>

<h2>Number of items: @Model.Count()</h2>
<h2>Total cost: @Model.Sum(x => x.Price)</h2>

<a asp-action="Checkout">Checkout</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.WebImageUri)" style="max-height:80px; max-width:80px" \ />
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    <a asp-action="DeleteFromCart" asp-route-id="@item.Id">Delete from cart</a>
                </td>
            </tr>
        }
    </tbody>

    <a asp-action="PreviousCarts">My previous carts</a>
</table>
