﻿@model Nistagram.Agents.Models.DTO.UploadFileDTO

<form asp-action="Upload" enctype="multipart/form-data">
    Image Id: @ViewData["id"]
    <input asp-for="MyImage" />
    <input asp-for="ImageId" value='@ViewData["id"]' hidden/>

    <input type="submit" />
</form>